<h1>Click a Department To View Content</h1>

<%= link_to "Go to a new Department", new_department_path %>

<ul>
  <% @departments.each do |s| %>
    <li><%= link_to s.name, department_path(s) %></li>
  <% end %>
</ul>
